@model IEnumerable<DGrabowski_MephistoTheatreApp.Models.User>

@{
    ViewBag.Title = "Index";
}

<div class="container">
    <h2>User Management - List of All Users</h2>

    <p>
        @Html.ActionLink("Back To Admin Panel", "Index", "Admin", new { @class = "btn btn-primary" })
    </p>

    @if (TempData["ErrorMessage"] != null)
    {
        <div class="alert alert-danger">
            @TempData["ErrorMessage"]
        </div>
    }

    <table class="table">
        <thead>
            <tr>
                <th>@Html.DisplayNameFor(model => model.CurrentRole)</th>
                <th>@Html.DisplayNameFor(model => model.FirstName)</th>
                <th>@Html.DisplayNameFor(model => model.LastName)</th>
                <th>@Html.DisplayNameFor(model => model.Street)</th>
                <th>@Html.DisplayNameFor(model => model.City)</th>
                <th>@Html.DisplayNameFor(model => model.PostCode)</th>
                <th>@Html.DisplayNameFor(model => model.RegisteredAt)</th>
                <th>@Html.DisplayNameFor(model => model.IsSuspended)</th>
                <th>@Html.DisplayNameFor(model => model.Email)</th>
                <th>@Html.DisplayNameFor(model => model.UserName)</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.CurrentRole)</td>
                    <td>@Html.DisplayFor(modelItem => item.FirstName)</td>
                    <td>@Html.DisplayFor(modelItem => item.LastName)</td>
                    <td>@Html.DisplayFor(modelItem => item.Street)</td>
                    <td>@Html.DisplayFor(modelItem => item.City)</td>
                    <td>@Html.DisplayFor(modelItem => item.PostCode)</td>
                    <td>@Html.DisplayFor(modelItem => item.RegisteredAt)</td>
                    <td>@Html.DisplayFor(modelItem => item.IsSuspended)</td>
                    <td>@Html.DisplayFor(modelItem => item.Email)</td>
                    <td>@Html.DisplayFor(modelItem => item.UserName)</td>
                    <td>
                        <div class="btn-group" role="group" aria-label="User Actions">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id }, new { @class = "btn btn-warning" })
                            @Html.ActionLink("Details", "Details", new { id = item.Id }, new { @class = "btn btn-info" })
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id }, new { @class = "btn btn-danger" })

                            @if (item.CurrentRole == "Member")
                            {
                                @Html.ActionLink("Promote to Staff", "PromoteToStaff", new { id = item.Id }, new { @class = "btn btn-success" })
                            }
                            else if (item.CurrentRole == "Staff")
                            {
                                @Html.ActionLink("Demote to Member", "DemoteToMember", new { id = item.Id }, new { @class = "btn btn-secondary" })
                            }
                            @Html.ActionLink(item.IsSuspended ? "Activate" : "Suspend",
                                             item.IsSuspended ? "ActivateUser" : "SuspendUser",
                                             new { id = item.Id },
                                             new { @class = item.IsSuspended ? "btn btn-success" : "btn btn-warning" })
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
