@model IEnumerable<DGrabowski_MephistoTheatreApp.Models.Comment>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Comment ID
        </th>
        <th>
            Post ID
        </th>
        <th>
            Link to Post
        </th>
        <th>
            Comment Body
        </th>
        <th>
            Is Published
        </th>
        <th>
            Author
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CommentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Post.PostId)
            </td>
            <td>
                @Html.ActionLink("View Post", "Details", "Posts", new { id = item.Post.PostId }, null)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Body)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsPublished)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.User.UserName)
            </td>
            <td>
                @using (Html.BeginForm("PublishUnpublishComment", "Comments", FormMethod.Post, new { @class = "form-inline" }))
                {
                    @Html.Hidden("commentId", item.CommentId)
                    <input type="submit" name="commentAction" value="@((item.IsPublished) ? "Unpublish" : "Publish")" class="btn @(item.IsPublished ? "btn-warning" : "btn-success")" />
                }
                @Html.ActionLink("Delete", "Delete", new { id = item.CommentId }, new { @class = "btn btn-danger" })


                <!-- Display sub-comments -->
                @if (item.SubComments != null && item.SubComments.Any())
                {
                    <table class="table sub-comments-table">
                        <tr>
                            <th>
                                Sub-Comment ID
                            </th>
                            <th>
                                Sub-Comment Body
                            </th>
                            <th>
                                Is Published
                            </th>
                            <th>
                                Author
                            </th>
                            <th></th>
                        </tr>
                        @foreach (var subComment in item.SubComments)
                        {
                            <tr>
                                <td>
                                    @Html.DisplayFor(modelItem => subComment.CommentId)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => subComment.Body)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => subComment.IsPublished)
                                </td>
                                <td>
                                    @Html.DisplayFor(modelItem => subComment.User.UserName)
                                </td>
                                <td>
                                    @using (Html.BeginForm("PublishUnpublishSubComment", "Comments", FormMethod.Post, new { @class = "form-inline" }))
                                    {
                                        @Html.Hidden("subCommentId", subComment.CommentId)
                                        <input type="submit" name="commentAction" value="@((subComment.IsPublished) ? "Unpublish" : "Publish")" class="btn @(subComment.IsPublished ? "btn-warning" : "btn-success")" />
                                    }
                                    @Html.ActionLink("Delete", "Delete", new { id = subComment.CommentId }, new { @class = "btn btn-danger" })
                                </td>
                            </tr>
                        }
                    </table>
                }
            </td>
        </tr>
    }
</table>
