@model DGrabowski_MephistoTheatreApp.Models.Post

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm("Create", "Posts", FormMethod.Post, new { @class = "needs-validation", novalidate = "true" }))
{
    <div class="mb-3">
        @Html.LabelFor(model => model.Title, new { @class = "form-label" })
        @Html.EditorFor(model => model.Title, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.CategoryId, new { @class = "form-label" })
        @Html.DropDownList("CategoryId", null, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.CategoryId, "", new { @class = "text-danger" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.Body, new { @class = "form-label" })
        <div id="editor" style="height: 300px;"></div>
        @Html.TextAreaFor(model => model.Body, new { @class = "form-control d-none", @id = "hidden-editor" })
    </div>

    <div class="mb-3">
        @Html.LabelFor(model => model.IsPublished, new { @class = "form-label" })
        <div class="form-check">
            @Html.CheckBoxFor(model => model.IsPublished, new { @class = "form-check-input" })
            @Html.LabelFor(model => model.IsPublished, new { @class = "form-check-label" })
        </div>
        @Html.ValidationMessageFor(model => model.IsPublished, "", new { @class = "text-danger" })
    </div>

    @Html.AntiForgeryToken()
    <div class="mb-3">
        <input type="submit" id="btnsubmit" value="Create" class="btn btn-primary" />
    </div>
}

@section Scripts {
    <!-- Include Quill.js -->
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>

    <!-- Include Quill's theme (optional) -->
    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">

    <script>


        var quill = new Quill('#editor', {
            theme: 'snow',
            placeholder: 'Write your post here...',
        });

        quill.on('text-change', function () {
            var htmlContent = document.querySelector('.ql-editor').innerHTML;
            document.getElementById('hidden-editor').value = htmlContent;
        });


    </script>


}